DISCORD_CLIENT_ID=123
DISCORD_CLIENT_SECRET=abc
DISCORD_SERVER_ID=994071728017899600

JWT_PUBLIC_KEY_PATH=keys/public.pem
JWT_PRIVATE_KEY_PATH=keys/private.pem

COOKIE_SECRET=secret

MYSQL=mysql://root:root@localhost:3306/database
ORIGIN=http://localhost:3000
